/build/
/exampleTaskFiles/*.log
/exampleTaskFiles/*_disBatch_*
/exampleTaskFiles/slurm*out
/exampleTaskFiles/slurm*resize.*sh
/exampleTaskFiles/dbTestOutputDir
/tmp
/tests/test_*/disbatch-test.*
__pycache__/
*.egg-info/
/disbatch/_version.py
