name: Tests

on: [push]

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
        include:
          - os: macos-latest
            python-version: "3.13"

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
          
      - name: Run local-mode (ssh) test
        working-directory: ./tests/test_ssh
        run: |
          uv run -v ./run.sh
